div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    border: 4px solid #fecc00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
}

div:hover {
  background-color: #fecc00;
  .spinner {
    background-color: #fecc00;
    border: 4px solid #000;
    border-left-color: transparent;
  }
}
