@font-face {
  font-family: "OxygenLight";
  src: local("Oxygen"), url(./assets/fonts/Oxygen-Light.ttf) format("truetype");
}

@font-face {
  font-family: "OxygenRegular";
  src: local("Oxygen"),
    url(./assets/fonts/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OxygenBold";
  src: local("Oxygen"), url(./assets/fonts/Oxygen-Bold.ttf) format("truetype");
}

* {
  background-color: black;
}

body {
  color: #fffefa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
